<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>cl.anfp.controllers.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadController</servlet-name>
        <servlet-class>cl.anfp.controllers.CiudadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivisionController</servlet-name>
        <servlet-class>cl.anfp.controllers.DivisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosicionController</servlet-name>
        <servlet-class>cl.anfp.controllers.PosicionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadioController</servlet-name>
        <servlet-class>cl.anfp.controllers.EstadioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoController</servlet-name>
        <servlet-class>cl.anfp.controllers.EquipoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JugadorController</servlet-name>
        <servlet-class>cl.anfp.controllers.JugadorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadController</servlet-name>
        <url-pattern>/CiudadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivisionController</servlet-name>
        <url-pattern>/DivisionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosicionController</servlet-name>
        <url-pattern>/PosicionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadioController</servlet-name>
        <url-pattern>/EstadioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoController</servlet-name>
        <url-pattern>/EquipoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadorController</servlet-name>
        <url-pattern>/JugadorController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
